.poketype {
  align-items: center;
  width: 80px;
  text-align: center;
  display: inline-block;
  border: 0.5px solid gray;
  color: white;
  padding: 5px;
  margin-left: 5px;
  font-size: 15px;
}

.normal {
  background-color: #a8a878;
}

.fight {
  background-color: #c03028;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.steel {
  background-color: #b8b8d0;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.grass {
  background-color: #78c850;
}

.eletric {
  background-color: #f8d030;
}

.psychic {
  background-color: #f85888;
}

.ice {
  background-color: #98d8d8;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.fairy {
  background-color: #ff65d5;
}
